Package: com.maxim.scnodiscover
Name: scnodiscover
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hide the Discover Page on Snapchat
Maintainer: Maxim Collingwood
Author: Maxim Collingwood
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
